@tailwind base;
@tailwind components;
@tailwind utilities;

.aden {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: contrast(90%) brightness(120%) saturate(85%) sepia(0%) hue-rotate(20deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: darken;
    background: linear-gradient(to right, rgba(66, 10, 14, 0.2) 1, rgba(66, 10, 14, 0));
    opacity: 1;
}
._1977 {
    backdrop-filter: contrast(110%) brightness(110%) saturate(130%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
  mix-blend-mode: screen;
  background: rgba(243, 106, 188, 0.3);
  opacity: 1;
}
.amaro {
    backdrop-filter: contrast(90%) brightness(110%) saturate(150%) sepia(0%) hue-rotate(-10deg) grayscale(0%) invert(0%) blur(0px);
  mix-blend-mode: normal;
  background: rgba(0, 0, 0, 0.0);
  opacity: 1;
}
.brooklyn {
    backdrop-filter: contrast(90%) brightness(110%) saturate(100%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
  mix-blend-mode: overlay;
  background: radial-gradient(50% 50%, circle closest-corner, rgba(168, 223, 193, 0.4) 1, rgba(183, 196, 200, 0.2));
  opacity: 1;
}
.clarendon {
    backdrop-filter: contrast(120%) brightness(125%) saturate(100%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
  mix-blend-mode: overlay;
  background: rgba(127, 187, 227, 0.2);
  opacity: 1;
}
.lofi {
    backdrop-filter: contrast(150%) brightness(100%) saturate(110%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
  mix-blend-mode: multiply;
  background: radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0) 70, rgba(34, 34, 34, 1));
  opacity: 1;
}

.xpro2 {
    backdrop-filter: contrast(100%) brightness(100%) saturate(100%) sepia(30%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
  mix-blend-mode: color-burn;
  background: rgba(62, 162, 253, 0.5);
  opacity: 1;
}
.toaster {
    backdrop-filter: contrast(110%) brightness(110%) saturate(130%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
  mix-blend-mode: screen;
  background: radial-gradient(50% 50%, circle closest-corner, rgba(15, 78, 128, 1) 1, rgba(59, 0, 59, 1));
  opacity: 0.5;
}

.valencia {
    backdrop-filter: contrast(108%) brightness(108%) saturate(100%) sepia(8%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
  mix-blend-mode: exclusion;
  background: rgba(58, 3, 57, 1);
  opacity: 0.5;
}